<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.Ims.shop.notice">

	<!-- 동적 SQL문으로 처리: choose-when-otherwise 구문 -->
	<insert id="addNotice" parameterType="NoticeVo">
		insert into b_notice(n_title, n_content, n_origin_filename, n_system_filename, member_idx, ct_idx)
		values(#{n_title}, #{n_content}, #{n_origin_filename}, #{n_system_filename}, #{member_idx}, #{ct_idx})
		
	</insert>
	
	<!-- 갤러리 리스트 불러오는 sql문 -->
	<select id="getNoticeList" resultType="NoticeVo">
		select * from b_notice
	</select>
</mapper>